.reset-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.brand-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  
}
.txt-reset {
  font-size: 23px;
  font-weight: lighter;
  color: #000000;
  margin-bottom: 40px;
}

.reset-card {
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.reset-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.reset-input:focus {
  border-color: #000;
}

.reset-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #000;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.reset-button:hover {
  background: #333;
}


.reset-subtext {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.reset-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
}

.reset-input:focus {
  border-color: #000;
}

.reset-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #000;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.reset-button:hover {
  background: #333;
}

.reset-card p {
  margin-top: 15px;
  font-size: 14px;
}

.reset-card a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.reset-card a:hover {
  text-decoration: underline;
}